.nav{
    grid-area: n;
    background-color: rgb(87, 76, 18);
    padding: 5px;
  }

  .item a {
    color:white;
    text-decoration: none;
  }
  
  .item a:hover{
    background-color:rgb(112, 101, 47);
  }

  .item a.active {
  color:rgb(156, 156, 238)

  }

  .nav img {
    width:30px;
    border-radius: 50%;
  }

.friends{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
 